.wordmark,
.titleBar,
.buttonClose,.buttonMin,.buttonMax {
	display:none;
}

html {
	background: #202225;
}

#webview {
	width: 100vw;
	position: absolute;
	height: 100vh;
}

svg[name="DiscordWordmark"] path {
	fill: rgb(114, 118, 125);
}

/*
below styles can be made platform specific by adding the result of chrome.runtime.getPlatformInfo to the selector as a class
for example: #webview.mac
possible classes are: "mac", "win", "android", "cros", "linux", or "openbsd"
title bar is currently hidden on android and chrome os
*/
#webview:not(.cros):not(.android) {
	top: 22px;
	height: calc(100vh - 22px);
}

.titleBar {
	display: inherit;
	width: 100%;
	height: 22px;
	position: absolute;
	background: #00000000;
	-webkit-app-region: drag;

	flex-shrink: 0;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
	-webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
	display:flex;
	
	padding-top: 4px;
	opacity: 1;
	
	-moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

#backdrop {
	width: 100%;
	height: 22px;
	position: absolute;
	background: #000000;
	z-index: -1;
	opacity: 0;
}

#barbackground {
	width: 100%;
	height: 22px;
	position: absolute;
	background: #202225;
	z-index: -2;
}

.wordmark {
	display: block;
	position:absolute;
	top: 0;
	left: 0;
	opacity: 1;
	padding: 4px 9px 3px 9px;
}

.buttonClose,.buttonMin,.buttonMax {
	display: flex;
	
    position: relative;
    top: -4px;
    width: 28px;
    height: 22px;
    cursor: pointer;
    opacity: .6;
    -webkit-app-region: no-drag;
	-webkit-box-direction: reverse;
	-webkit-box-align: center;
	
	display:flex;

	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	justify-content: center;
	
	-webkit-box-pack: center;
    -ms-flex-pack: center;
	
	margin: 0;
    padding: 0;
    border: 0;
	
	vertical-align: baseline;

	line-height:16px;
	pointer-events:auto;
	user-select:none;
}
.buttonClose:hover {
    background-color: #f04747;
	opacity:1;
}
.buttonMin:hover,.buttonMax:hover {
	background-color: rgba(79, 84, 92, 0.16);
	opacity:1;
}